{% extends "skeleton.html" %}
{% load djangocodemirror %}
{% load static from staticfiles %}

{% block head_assets %}
<link rel="stylesheet" href="{% static "CodeMirror/lib/codemirror.css" %}">
<script src="{% static "CodeMirror/lib/codemirror.js" %}"></script>
{% endblock %}

{% block base_content %}
<div class="row">
    <form action="." method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>
</div>
<script>
    var editor = {{ form.foo|codemirror_config }};
</script>
{% endblock %}