{% extends "skeleton.html" %}
{% load djangocodemirror_tags %}
{% load static from staticfiles %}

{% block base_content %}
<h2>Testing modes configurations</h2>

{% if codemirror_mode %}
<h3>{{ codemirror_mode }}</h3>
<div class="row">
    <form action="." method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>
</div>
{% codemirror_instance codemirror_mode "foo_codemirror" form.foo.id_for_label %}
{% else %}
<h3>Available modes</h3>
<ul>
    <li><a href="javascript/">javascript</a></li>
    <li><a href="restructuredtext/">restructuredtext</a></li>
    <li><a href="html/">html</a></li>
    <li><a href="django/">django</a></li>
</ul>
{% endif %}
{% endblock %}
